.oglasi-detalj {
    padding: 100px 80px;
    overflow: hidden;
}

.oglas-detalj-slika img,
.oglasi-detalj img {
    max-width: 100%;
    height: auto;
    display: block;
}

.send-message-button,
.message-form button {
    background-color: #df678c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px;
}

.send-message-button:hover,
.message-form button:hover {
    background-color: #c94c6b;
}

.message-form {
    margin-top: 20px;
}

.message-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.oglas-gallery {
    margin-top: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.oglas-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 90px;
    align-items: center;
}
.oglas-container h1{
    margin-block: 20px;
}
.success-message{
    margin-top: 20px;
}
@media (max-width: 950px) {
    .oglas-container {
        grid-template-columns: 1fr;
        padding-inline: 5%;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .oglas-container form {
        margin-top: 50px;
    }
}
@media(max-width:500px){
    .oglasi-detalj{
        padding: 100px 60px;
    }
}
@media (max-width: 450px) {
    .oglasi-detalj {
        padding: 100px 30px;
    }
    .oglas-gallery img {
        max-width: 300px;
    }
    .oglas-detalji p {
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .carousel-root {
        width: 80%;
        margin-inline: auto;
        margin-top: 30px;
    }
    .oglas-gallery img {
        max-width: 240px;
    }
    .message-form textarea{
        font-size: 14px;
        max-width: 80%;
    }
    .message-form{
        width: 85%;
        margin-inline: auto;
    }
    .oglas-container{
        margin-left: -10px;
    }
    .oglas-gallery{
        margin-left: -10px;
    }
    .oglasi-detalj {
        padding: 100px 10px;
    }
    .oglas-detalji{
        text-align: center;
    }
    .oglas-detalji p{
        font-size: 16px;
        padding-inline: 20px;
    }
    .oglas-detalj-slika img {
        max-width: 70%; /* Osigurava da slika ne prelazi širinu ekrana */
        height: auto; /* Održava proporcije slike */
        display: block;
        margin-inline: auto;
    }
}

@media (max-width: 330px) {
    .send-message-button,
    .message-form button {
        padding: 8px 16px;
    }
    .message-form textarea {
        font-size: 14px;
    }
    .oglas-container {
        gap: 20px;
    }
    .oglas-detalji h1 {
        font-size: 28px;
    }
}
@media (max-width: 310px) {
    .carousel-root {
        width: 78%;
        margin-inline: auto;
        margin-top: 30px;
    }
    .oglas-gallery img {
        max-width: 220px;
    }
}



