.dodaj-oglas{
    padding: 100px 80px;
}
.dodaj-oglas form{
    width: min(900px,100%);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dodaj-oglas form input, .dodaj-oglas form textarea{
    width: min(600px, 90%);
    font-size: 18px;
    padding: 10px;
    outline: none;
    margin-bottom: 20px;
    margin-top: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.dodaj-oglas form textarea{
    resize: none;
}

.dodaj-oglas img{
    width: min(400px, 80%);
    display: block;
    margin-inline: auto;
    margin-bottom: 30px;
}
.dodaj-oglas button :not(.tab){
    background-color: #df678c;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin-top: 15px;
}
.dodaj-oglas  .button:hover {
    background-color: #c94c6b;
}
.upload-section{
    width: min(600px, 90%);
    margin-top: 20px;
    font-size: 18px;
}
.upload-section input{
    width: 100% !important;
}
.dodaj-oglas form div{
  text-align: center;
  width: min(600px, 90%) !important;
}
.dodaj-oglas form div label{
 display: block;
 text-align: left;
}
.dodaj-oglas form div input,.dodaj-oglas form div textarea{
  width: 100%;
}
.dodaj-oglas-top h2{
    font-size: 30px;
}

.oglas-form h2{
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
  
  .upload-section input[type="file"] {
    display: none; /* Sakrij default input za fajl */
  }
  
  .upload-section label::after {
    content: 'Izaberi sliku';
    display: inline-block;
    background-color: #df678c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-block: 20px;
  }
  
  .upload-section input[type="file"]:checked + label::after {
    content: 'Slika izabrana';
  }
  
  .dodaj-oglas button[type="submit"] {
    background-color: #df678c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #c5567b;
  }
  .oglas-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 100px 80px;
  }
  
  .dodaj-oglas-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .dodaj-oglas-top img {
    width: min(400px, 90%);
  }
  
  .upload-section {
    margin-bottom: 15px;
  }
  
  .saveti-za-oglas {
    background-color: transparent;
    padding: 20px;
  }
  
  .oglas-tips h3 {
    margin-bottom: 15px;
    font-size: 1.5em;
  }
  
  .saveti-za-oglas ul {
    list-style-type: none;
    padding: 0;
  }
  
  .oglas-tips ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 1.5;
  }
  
  .oglas-tips ul li::before {
    content: "✔️";
    margin-right: 10px;
    color: #df678c;
  }
  
  .theme-dark .dodaj-oglas-container {
    color: white;
  }
  .oglas-tips ul{
    list-style-type: none;
  }
  .oglas-container-2{
    align-items: first baseline;
  }
  
  .tabs {
    display: flex;
    margin-bottom: 10px;
  }
  
  .tab{
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .active-tab {
    border-bottom: 2px solid #df678c;
    color: #df678c;
  }
  
  .tab-content {
    margin-top: 10px;
    font-size: 22px;
    padding: 10px;
  }
  
  @media(max-width:1000px){
    .oglas-container-2 {
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 100px 80px;
      }
      .dodaj-oglas{
        padding: 0;
      }
      .tabs {
        justify-content: center;
      }
  }
  @media(max-width:530px){
    .glas-container{
        padding: 100px 70px;
    }
}
@media(max-width:500px){
    .oglas-container{
        padding: 100px 50px;
    }
}
@media(max-width:450px){
    .oglas-container{
        padding: 100px 20px;
    }
    .oglas-container form input, .oglas-container form textarea{
        font-size: 14px;
    }
    .oglas-container-2 h2{
        font-size: 26px;
    }
    .upload-section label::after {
        display: block;
        max-width: 50%;
        margin-inline: auto;
        margin-top: 10px;
      }
}
@media(max-width:350px){
    .oglas-container{
        padding: 100px 5px;
    }
}
