/* Postojeći stilovi */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    align-items: start;
    font-size: 22px;
    position: relative;
}
.no-toggle-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-right: 60px;
}
.navbar img {
    width: 100px;
}
.navbar .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}
.menu-toggle {
    background-color: transparent;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}
.slika-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    gap: 20px;
    font-weight: 600;
    cursor: pointer;
}
.nav-menu li a {
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.2s linear;
    color: white;
    text-decoration: none;
}
.nav-menu-dark li a {
    color: #3d155f;
}
.slika-logo a {
    color: white;
    text-decoration: none;
}
.slika-logo-tekst a {
    color: #3d155f;
}
.nav-menu li a:hover {
    background: #df678c;
    color: white;
}
.side-nav-menu li a {
    text-decoration: none;
    color: white;
}
.side-nav-menu li a:hover {
    background: #3d155f;
    padding: 3px 5px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; /* Poluprovidna pozadina */
    z-index: 5; /* Ispod side menija, ali iznad ostalog sadržaja */
}
.login {
    background-color: #df678c;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    padding: 10px 25px;
    font-weight: 500;
    letter-spacing: 2px;
}
.theme {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: white;
    cursor: pointer;
}
.theme img {
    max-width: 100%;
}
.button-dark {
    border: 2px solid #3d155f;
}
.side-menu {
    background-color: #df678c;
    color: white;
    width: 250px; /* Širina za veće ekrane */
    height: 100vh; /* Puni ekran visine */
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    overflow-y: auto; /* Omogućava skrolovanje ako je potrebno */
    transition: transform 0.3s ease; /* Glatka animacija za otvaranje/zatvaranje */
}
.side-menu.menu-closed {
    transform: translateX(100%); /* Sakrij meni sa desne strane */
}
.side-nav-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    gap: 15px;
}
.side-menu button {
    background-color: white;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    color: #df678c;
    padding: 10px 25px;
    font-weight: 500;
    letter-spacing: 2px;
}
.menu-toggle-dark {
    color: #3d155f;
}
.menu-closed {
    display: none;
}
.korisnik {
    display: none;
}
.korisnik img {
    max-width: 20px;
}

/* Medijske upite */
@media(max-width: 1100px) {
    .navbar {
        font-size: 20px;
    }
}
@media(max-width: 1050px) {
    .slika-logo {
        font-size: 30px;
        gap: 10px;
    }
    .navbar img {
        width: 80px;
    }
    .navbar {
        padding-top: 10px;
    }
    .navbar .nav-menu {
        gap: 20px;
    }
    .navbar {
        font-size: 20px;
    }
    .navbar .nav-menu {
        gap: 30px;
    }
}
@media(max-width: 950px) {
    .navbar .nav-menu {
        gap: 15px;
    }
    .navbar {
        font-size: 17px;
    }
    .slika-logo {
        font-size: 26px;
        gap: 10px;
    }
    .theme {
        height: 40px;
        width: 40px;
    }
    .login {
        background-color: #df678c;
        text-transform: uppercase;
        border: none;
        outline: none;
        cursor: pointer;
        color: white;
        padding: 8px 15px;
        font-weight: 500;
        letter-spacing: 1px;
    }
}
@media(min-width: 829px) {
    .menu-toggle, .side-menu {
        display: none;
    }
}
@media(max-width: 829px) {
    .navbar .nav-menu {
        display: none; /* Sakrij nav meni na manjim ekranima */
    }
    .no-toggle-menu {
        justify-content: center;
        gap: 50px;
    }
    .menu-toggle {
        display: block; /* Prikaz dugmeta za meni */
    }
    #no-toggle {
        padding-right: 250px; /* Prilagodite širinu */
    }
    .login {
        display: none; /* Sakrij login dugme */
    }
    .slika-logo {
        font-size: 28px;
        gap: 10px;
    }
}
@media(max-width: 775px) {
    .slika-logo {
        font-size: 26px;
        gap: 10px;
    }
    .navbar .nav-menu {
        gap: 10px;
    }
    #no-toggle {
        padding-right: 200px;
    }
    .navbar img {
        width: 60px;
    }
    .side-menu {
        width: 200px;
    }
}
@media(max-width: 690px) {
    .side-menu {
        width: 150px;
    }
    #no-toggle {
        padding-right: 150px;
    }
    .no-toggle-menu {
        gap: 30px;
    }
}
@media(max-width: 587px) {
    .slika-logo p {
        display: none;
    }
}
@media(max-width: 535px) {
    .side-menu {
        width: 100px;
    }
    #no-toggle {
        padding-right: 120px;
    }
    .navbar {
        padding-left: 40px;
    }
    .side-menu button {
        padding: 5px 10px;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .theme {
        width: 30px;
        height: 30px;
        padding: 6px;
    }
    .menu-toggle {
        height: 40px;
        width: 40px;
        font-size: 25px;
    }
    .slika-logo {
        font-size: 22px;
    }
}
@media(max-width: 489px) {
    #no-toggle {
        padding-right: 100px;
    }
    .side-menu {
        width: 85px;
    }
    .navbar {
        padding-left: 25px;
    }
}
@media(max-width: 428px) {
    #no-toggle {
        padding-right: 90px;
    }
    .side-menu {
        width: 80px;
    }
    .navbar {
        padding-left: 20px;
    }
    .no-toggle-menu {
        gap: 20px;
    }
}
@media(max-width: 392px) {
    #no-toggle {
        padding-right: 80px;
    }
    .side-menu {
        width: 75px;
    }
    .navbar {
        padding-left: 20px;
    }
    .no-toggle-menu {
        gap: 15px;
    }
}
@media(max-width: 365px) {
    .slika-logo p {
        display: none;
    }
}

/*.no-toggle-menu{
display: flex;
justify-content: space-between;
align-items: center;
gap: 10px;
width: 100%;
padding-right: 250px;
}*/