.pretraga{
    padding: 100px 80px;
    margin: 0 auto;
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    font-size: 20px;
  }
  
  .search-bar button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .search-results ul {
    list-style: none;
    padding: 0;
  }
  
  .search-results li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
  }
  .service-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .service img{
    width: min(300px,70%);
    border-radius: 20px;
  }
  
  .pretraga h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }
  .pretraga-opis{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 40px;
    max-width: min(80%,1000px);
    margin-inline: auto;
  }
  .search-results p{
    padding-top: 15px;
    text-align: center;
  }
  .search-img{
    display: block;
    margin-inline: auto;
    width: 300px;
    margin-bottom: 30px;
  }
  /*sort*/
  .sort-options {
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
  }
  
  .sort-options label {
    margin-right: 0.5rem;
  }
  
  .sort-options select {
    padding: 0.5rem;
    font-size: 1rem;
    padding-top: 10px;
  }

  .banner-container {
    position: relative;
    overflow: hidden;
    background-color: transparent; /* Tamna pozadina u skladu sa temom */
    color: #fff;
    margin-top: 70px;
  }
  
  .scroll-banner {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll-text 15s linear infinite;
  }
  
  .banner-item {
    font-size: 50px;
    padding: 40px 15px;
    font-weight: 800;
    color: white; /* Svetla boja teksta */
  }
  .banner-item-dark{
    color: #df678c;
  }
  .preporuka-item{
    color: #df678c;
  }
  .preporuka-dark-item{
    color: #3d155f;
  }
  
  @keyframes scroll-text {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Stilizujte select polje */
  @media(max-width:1240px){
    .preporuci button{
      padding: 8px 20px;
      font-size: 16px;
      }
  }
  @media(max-width:1056px){
    .search-results li {
      grid-template-columns: 1.5fr 1fr;
    }}
    
  @media(max-width:911px){
    .search-results li {
      grid-template-columns: 1fr;
    }
    .preporuci{
      margin-block: 20px;
    }
  }
  @media(max-width:780px){
    .preporuci button{
    padding: 8px 20px;
    font-size: 15px;
    }
    .service-container{
      grid-template-columns: 1.5fr 1fr;
    }
    .scroll-banner {
      animation: scroll-text 10s linear infinite;
    }
  }
  @media(max-width:603px){
    .preporuci button{
    padding: 8px 18px;
    font-size: 17px;
    }
    .service-container{
      grid-template-columns: 1fr;
    }
    .service,.service-spec,.preporuci{
      text-align: center;
    }
  }
  @media(max-width:538px){
    .pretraga{
        padding:  80px 30px 20px 30px;
    }
    .search-bar {
        width: 70%;
      }
      .search-bar input{
        font-size: 18px;
      }
      .search-img{
        width: 250px;
      }
      .search-bar button {
        padding: 8px 15px;
        font-size: 18px;
      }
      .item-title{
        font-size: 24px;
        padding-left: min(5%,10px);
      }
      .scroll-banner {
        animation: scroll-text 8s linear infinite;
      }
      .banner-container{
        margin-top: 30px;
      }
    }
    .search-results ul{
        margin-top: 20px;
    }
    .search-results ul li{
        margin-bottom: 10px;
    }

    @media(max-width:512px){
        .pretraga-opis{
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 40px;
            max-width: min(93%,1000px);
            margin-inline: auto;
          }
          .search-bar {
            width: 93%;
            margin-left: 12px;
          }
    }
    @media(max-width:427px){
      .preporuci button{
        padding: 6px 15px;
        font-size: 14px;
        }
    }
    @media(max-width:410px){
      .service h3{
        font-size: 18px;
      }
      .scroll-banner {
        animation: scroll-text 5s linear infinite;
      }
    }
    @media(max-width:400px){
        .pretraga-opis{
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 40px;
            max-width: min(80%,1000px);
            margin-inline: auto;
          }
        .search-img{
            width: 230px;
          }
        }
    @media(max-width:368px){
        .search-bar {
            width: 90%;
            margin-left: 15px;
          }
          .search-bar input{
            font-size: 15px;
          }
          .search-bar button {
            padding: 5px 12px;
            font-size: 15px;
          }
          .banner-item {
            font-size: 40px;
          }
    }
    @media(max-width:350px){
        .search-bar {
            width: 70%;
            margin-left: 10px;
          }
          .preporuci button{
            padding: 5px 13px;
            font-size: 12px;
            }
    }
    @media(max-width:310px){
        .search-bar {
            width: 70%;
            margin-left: 7px;
          }
          .search-bar input {
            padding: 8px;
          }
    }